<h1>Welcome to Vue.js project</h1>

<h1>This page only for Staff!</h1>

<%= link_to 'Sign Up', new_staff_registration_path, class: 'navbar-brand' %>

<%= link_to 'Sign In', new_staff_session_path, class: 'navbar-brand' %>
