<h1>Welcome to Vue.js project</h1>

<h1>This page only for Staff!</h1>

<h4><%= link_to "Log out", destroy_staff_session_path,
                data: {"turbo-method": :delete},
                class: "btn btn-danger ml-3"%></h4>



